ansi2html==1.8.0
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.4
ConfigArgParse==1.5.3
dash==2.11.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
easydict==1.10
fastjsonschema==2.17.1
filelock==3.12.2
Flask==2.2.5
idna==3.4
intel-openmp==2023.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_core==5.3.1
lit==16.0.6
MarkupSafe==2.1.3
MinkowskiEngine==0.5.4
mkl==2023.1.0
mpmath==1.3.0
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
open3d-cpu @ file:///home/ibrahim/tmp/Open3D/build/lib/python_package/pip_package/open3d_cpu-0.17.0%2B9238339b9-cp310-cp310-manylinux_2_37_x86_64.whl
packaging==23.1
Pillow==9.5.0
platformdirs==3.8.0
plotly==5.15.0
pyrsistent==0.19.3
requests==2.31.0
retrying==1.3.4
scipy==1.11.0
six==1.16.0
sympy==1.12
tbb==2021.9.0
tenacity==8.2.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.6.3
urllib3==2.0.3
Werkzeug==3.0.1
